Installing required libraries and importing them for use

In [ ]:
pip install lxml
pip install BeautifulSoup4
conda install html5lib

#### Extracting table from wikipedia page using libraries in python pandas

In [1]:
# extract tables from wikipedia
from pandas.io.html import read_html
page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

wikitables = read_html(page,  attrs={"class":"wikitable"})

print ("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 1 wikitables

In [15]:
df =wikitables[0]

Raw dataframe after extracting it from webpage

In [16]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Cleaning and removing of the rows which have 'Borough'= 'Not assigned' as suggested in assignment

In [17]:
df['Borough'].replace('Not assigned', np.nan, inplace = True)

In [19]:
df.dropna(axis = 0, inplace = True)

#### Final cleaned dataframe

In [24]:
df.reset_index(drop = True)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

#### Dimensions of dataframe

In [26]:
df.shape

(103, 3)